# Deep Learning / Visão Computacional
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
opencv-python>=4.8.0
ultralytics>=8.0.0

# Utilidades
tqdm>=4.66.0
numpy>=1.25.0
pandas>=2.0.0

# Banco de Dados
sqlite-utils>=3.36.0

# Dashboard e Visualização
streamlit>=1.27.0
matplotlib>=3.7.0
seaborn>=0.12.2

# API para expor o banco via GET
fastapi>=0.115.0
uvicorn>=0.32.0
# (opcional p/ produção)
gunicorn>=21.2.0
